.ae-container {
    width: 70% ;
    margin: 0 auto ;
    padding: 10px 20px ;
}

.container-brd {
    border-radius: 5px ; 
}

.container-brd-top {
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.container-brd-bottom {
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.container-pill {
    border-radius: 50px ;
}

.container-pill-top {
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px ;
}

.container-pill-bottom {
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.container-circle {
    border-radius: 50% ;
}

.h100vh {
    height: 100vh ;
}

.w100vw {
    width: 100vw ;
}

.margin-0 {
    margin: 0 ;
}

.margin-1 {
    margin: 10px ;
}

.margin-2 {
    margin: 20px ;
}

.margin-3 {
    margin: 30px ;
}

.margin-4 {
    margin: 40px ;
}

.margin-5 {
    margin: 50px ;
}

.margin-0 {
    margin: 0 ;
}

.padding-1 {
    padding: 10px ;
}

.padding-2 {
    padding: 20px ;
}

.padding-3 {
    padding: 30px ;
}

.padding-4 {
    padding: 40px ;
}

.padding-5 {
    padding: 50px ;
}

.ae-row {
    width: 100% ;
}