.b-standard {
    background: rgb(130,130,130) ;
}

.b-tree {
    background: rgb(21,80,60) ;
}

.b-tomato {
    background: rgb(220,60,40) ;
}

.b-natural {
    background: rgb(60,130,80) ;
}

.b-sky {
    background: rgb(30,140,180) ;
}

.b-water {
    background: rgb(120,170,250) ;
}

.b-ocean {
    background: rgb(40,10,220) ;
}

.b-lemon {
    background: rgb(205,205,20) ;
}

.b-orange {
    background: rgb(220,120,0) ;
}

.b-dark {
    background: rgb(30,30,30) ;
}

.b-forest {
    background: rgb(150,80,20) ;
}

.b-pinky {
    background: rgb(250,170,190) ;
}

.t-light {
    color: rgb(255,255,255) ;
}

.t-standard {
    color: rgb(130,130,130) ;
}

.t-tree {
    color: rgb(21,80,60) ;
}

.t-tomato {
    color: rgb(220,60,40) ;
}

.t-natural {
    color: rgb(60,130,80) ;
}

.t-sky {
    color: rgb(30,140,180) ;
}

.t-water {
    color: rgb(120,170,250) ;
}

.t-ocean {
    color: rgb(40,10,220) ;
}

.t-lemon {
    color: rgb(205,205,20) ;
}

.t-orange {
    color: rgb(220,120,0) ;
}

.t-dark {
    color: rgb(30,30,30) ;
}

.t-forest {
    color: rgb(150,80,20) ;
}

.t-pinky {
    color: rgb(250,170,190) ;
}